.textarea {
  display: flex;
  min-height: 80px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid hsl(var(--input));
  background-color: hsl(var(--background));
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.textarea::placeholder {
  color: hsl(var(--muted-foreground));
}

.textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
