.wrapper {
  padding-block: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
}

.header h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.25rem;
}

@media (min-width: 640px) {
  .header h2 {
    font-size: 1.5rem;
  }
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;
}

@media (min-width: 640px) {
  .contact-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
