.Wrapper {
  margin-block: 2rem;
  text-align: center;
}

.Wrapper a {
  color: hsl(var(--foreground));
  font-weight: 500;
  text-decoration: underline 0.125em hsl(var(--foreground) / 0);
  transition: text-decoration-color 300ms;
}

.Wrapper a:hover {
  text-decoration-color: hsl(var(--foreground));
}
