.header {
  --header-height: 60px;

  height: var(--header-height);
  border-bottom: 2px solid hsl(var(--border));
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: hsl(var(--foreground));
}

.header-link h1 {
  font-size: 1rem;
}

@media (min-width: 640px) {
  .header-link h1 {
    font-size: 1.5rem;
  }
}
